.menu
{
	margin-left:25px;
}

.side-nav li > a.menu_int
{
	padding-left:50px;
}

.container
{
	margin:auto;
	width:600px;
}


div.profil
{
    padding:20px;
    border: 1px solid #e0e0e0;
}


div.profil span
{
    display: inline-block;
    width:107px;
    background-color: #e0e0e0;
    padding:2px 0 2px 4px;
    border-radius: 10px;
    margin-bottom:10px;
}

.sub
{
    width:100px;
    margin:auto;
}

a, a:visited, a:link
{
    color:inherit;
}

.button-collapse
{
	margin-top:20px;
	margin-bottom: 20px;
}

div.myDevice
{
	padding:20px;
	border:1px solid #cdcdcd;
}

div.myDevice span
{
	display: inline-block;
	width: 170px;
	background-color: #e0e0e0;
	padding: 2px 0 2px 4px;
	border-radius: 10px;
	margin-bottom: 10px;
}