.menu
{
	margin-left:25px;
}

.container
{
	margin:auto;
	width:600px;
}


div.user
{
    padding:20px;
    border: 1px solid #e0e0e0;
}


div.user span
{
    display: inline-block;
    width:107px;
    background-color: #e0e0e0;
    padding:2px 0 2px 4px;
    border-radius: 10px;
    margin-bottom:10px;
}

.sub
{
    width:100px;
    margin:auto;
}