<a  href="#" class="button-collapse btn" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">Menu</a>
<ul id="nav-mobile" class="side-nav collection">	
	<ul class="noStyle">
		<li><a href="/" ng-click='overlay()'>Home</a></li>
		<li><a href="#!/users" ng-click='overlay()'>Users</a></li>
		<li> <a ng-click="show2()" data-activates="nav-mobile">Boitiers</a>
			<ul ng-if="usr">
			    <li ng-repeat="n in Devices">
			        <a class="menu_int" ng-click='overlay()' data-activates="nav-mobile" href="#!/boitier/{{n._id}}">{{n.name}}</a>
			    </li>
			</ul>
		</li>
	</ul>
</ul>


<ul class="collection">
	<a ng-href="#!/boitier/{{n._id}}" ng-repeat='n in Devices' class="collection-item"><li> 
		{{n.name}}
		<i class="right">Last Update : {{n.last_heard|dateFr}}</i>
	</li></a> 
</ul>

