
<a href="#" class="button-collapse btn" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">Menu</a>
<ul id="nav-mobile" class="side-nav collection">	
	<ul class="noStyle">
		<li><a href="/">Home</a></li>
		<li> <a ng-click="show2()" data-activates="nav-mobile">Users</a>
			<ul ng-if="usr">
			    <li ng-repeat="n in myUsers">
			        <a class="menu_int" ng-click='overlay()' href="#!/users/{{n._id}}">{{n.nom}} {{n.prenom}}</a>
			    </li>
			</ul>
		</li>
		<li><a href="#!/boitier">Boîtier</a></li>
	</ul>
</ul>

<br>
Bienvenue dans la section Utilisateur. <br>
<div class="profil">
    Mon Utilisateur est :<br>
    <hr>
    <span> Nom :</span> {{monProfil.nom}} <br>
    <span> Prénom :</span> {{monProfil.prenom}} <br>
	<hr>
    <span> Mail :</span>  {{monProfil.mail}}
</div>
