<div>
	<a  href="#" class="button-collapse btn" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">Menu</a>
	<ul id="nav-mobile" class="side-nav collection">	
		<ul class="noStyle">
			<li><a href="/" ng-click='overlay()'>Home</a></li>
			<li> <a ng-click="show2()" data-activates="nav-mobile">Users</a>
				<ul ng-if="usr">
				    <li ng-repeat="n in myUsers">
				        <a class="menu_int" ng-click='overlay()' data-activates="nav-mobile" href="#!/users/{{n._id}}">{{n.nom}} {{n.prenom}}</a>
				    </li>
				</ul>
			</li>
			<li><a href="#!/boitier" ng-click='overlay()'>Boitier</a></li>
		</ul>
	</ul>
	<br>
	Bienvenue dans la section Utilisateurs : <br>
	<i class="material-icons" ng-init="parametre.ajout=1; person={}" ng-click="show()">add</i>
    <ul class="collection">
        <li ng-repeat="n in myUsers" class="collection-item">
            {{n.nom}}&nbsp;{{n.prenom}}
            <i class="material-icons right" ng-click="deleteUser(n,$index)">close</i>
            <i class="material-icons right" ng-click="updateUser(n)">edit</i>
            <a  ng-href="#!/users/{{n._id}}" ><i class="material-icons right">account_circle</i></a>
            
        </li>
    </ul>

</div>


<div id="new" ng-if="expanded">
    <form  name="formulaire" id="formulaire">
        <input type="hidden" name="id" id="id" ng-value="person._id">
        <input type="text" name="nom" id="nom" ng-model="person.nom"><label for="nom">Nom</label>
        <input type="text" name="prenom" id="prenom" ng-model="person.prenom"><label for="prenom">Prénom</label>
        <input type="email" name="contact_mail" id="contact_mail" ng-model="person.mail"><label for="mail">Contact Mail</label>
    </form>
    <div class="sub"><button class="btn" ng-click="ajoutUser(person,parametre.ajout)">Envoyer</button></div>
</div>
